.body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;

}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(/static/img/main.png);
    
}

.container2 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
}

.container2:hover {
    transform: translateY(5px);
}

.logo {
    margin-left: 9px;
    font-size: 19px;
}

.mainbox {
    position: relative;
    margin: 50px;
    width: 450px;
    padding: 25px;
    opacity: 2;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid pink;
    border-radius: 25px;
    /* box-shadow: 0 0 5px rgba(255, 0, 127, 0.5); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    /* Pink glow effect */
    transition: box-shadow 0.3s ease;
    /* Smooth transition */

}

.mainbox .box {
    position: relative;
    width: 100%;
    height: 55px;
    margin: 10px;
    display: flex;
    align-content: center;
}


.input-container {
    position: relative;
    width: 95%;
}

input {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: pink;
}

input::placeholder {
    color: #b1adad;
    font-weight: 400;
}

.button {
    width: 100px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(22, 1, 1);
    background-color: pink;
    border-radius: 20px;
    font-weight: 700;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.click {
    color: rgb(242, 92, 117);
    font-weight: 500;
}

.button:hover {
    background-color: rgba(255, 0, 127, 0.5);
}

.box input::placeholder
{
    color: rgba(58, 60, 54, 0.655);
    text-align: center;
}

.box i {
    position: relative;
    /* right: 50px;
    top: 13px; */
    transform: translateX(-40px) translateY(12px);
    font-size: 20px;
}

.box2 {
    position: relative;
    width: 95%;
    display: flex;
    justify-content:center;
    width: 400px;
    margin: 5px;
    text-align:center;
    align-items: center;
    /*  */
    /*  */
}
.box2 p{
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
}

.box2 .Rad
{
    height: 20px;
    display: flex;
    text-align: center;
    justify-content:space-around;
    top: 20px;
}

.box2 .Rad:hover{
    cursor: pointer;
}

.box input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 30px;
}

.forget{
    text-align: right;
    margin-right: 20px;
}

.forget .for-pass
{
    color: blue;    
}

.submit button {
    margin: 15px;
}

footer {
    margin-bottom: 10px;
    opacity: 0.9;
}

.foot-panel1 {
    background-color: #f4f1d3; /* Unique color */
    color: rgb(8, 2, 2);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    border-top: 2px solid rgb(13, 11, 12);
}
.foot-panel1 button{
    border: 0;
    background-color: #f4f1d3;
    font-weight: 700;
}
.foot-panel2 {
    background-color: #f9f3c9; /* Unique color */
    color: rgb(19, 1, 1);
    height: 300px;
    display: flex;
    font-weight: 600;
    justify-content: space-evenly;
    border-top: 1px solid rgb(13, 11, 12);
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #0e0000;
}

.foot-panel3 {
    background-color: #f4f1d7; /* Unique color */
    color: rgb(9, 1, 1);
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    border-top: 1px solid rgb(13, 11, 12);
    
}

.pages {
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
    font-size: 800;
}

.copyright {
    padding-top: 5px;
}
